:root {
  --swiper-navigation-color:white;
  --swiper-theme-color: white; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Poppins', sans-serif; }

img {
  width: 100%; }

h1 {
  font-size: 4.3rem; }

h2 {
  font-size: 2.7rem;
  font-weight: 300; }

h3 {
  font-size: 2rem; }

a {
  text-decoration: none;
  font-size: 1rem; }

li {
  list-style: none;
  font-size: 1rem; }

p {
  font-size: 1rem;
  font-weight: 500; }

span {
  font-size: .9rem; }

button {
  padding: .9em 1.5em;
  font-size: 1rem;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none; }
  button.btn-green {
    background-color: #00D363;
    color: #fff; }
    button.btn-green:hover {
      background-color: white;
      box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
      color: #00D363;
      transform: translateY(-7px); }
    button.btn-green:active {
      transform: translateY(-1px); }
  button.btn-orange {
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0px 0px 14px -7px #f09819; }
    button.btn-orange:hover {
      background-position: right center;
      /* change the direction of the change here */
      color: #fff;
      text-decoration: none; }
    button.btn-orange:active {
      transform: scale(0.95); }

i {
  font-size: 1rem; }

input, select, textarea {
  padding: .9em 1.2em;
  border-radius: 5px;
  border: 1px solid white;
  outline: none;
  background-color: transparent;
  color: white; }

.barra {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.site-navigation {
  display: flex;
  align-items: center;
  max-width: calc(60vw + 2rem);
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
  z-index: 5; }
  @media (max-width: 1800px) {
    .site-navigation {
      max-width: calc(90vw + 2rem); } }

.logo {
  display: flex;
  align-items: center;
  justify-content: center; }

.nav-links {
  display: flex;
  align-items: center;
  gap: 2em; }
  .nav-links li {
    padding: 1.8em 0;
    border: 2px solid transparent;
    cursor: pointer; }
    .nav-links li a {
      color: white;
      font-weight: 400; }
    .nav-links li:hover {
      border-bottom: 2px solid #FF512F; }

.nav-search {
  display: flex;
  align-items: center;
  gap: 1em; }
  .nav-search i {
    color: white; }

.site-header {
  background: linear-gradient(to right, #04040481, #ff522f80), url("../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: relative; }
  .site-header::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #0000007f;
    position: absolute;
    inset: 0; }

.site-hero {
  display: grid;
  grid-template-columns: repeat(unset, 1fr);
  place-content: center;
  gap: 0.5em;
  place-content: center;
  min-height: 80vh;
  position: relative;
  z-index: 5;
  text-align: center;
  color: white;
  text-transform: capitalize; }
  .site-hero p {
    padding: .5em 0 1em 0; }
  .site-hero form {
    display: flex;
    align-items: flex-end;
    gap: .5em;
    padding: 2em 1.5em;
    background-color: #02354974;
    border-radius: 5px; }

.field {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-content: center;
  gap: 0.5em;
  max-width: max-content;
  margin: 0 auto;
  width: 100%;
  text-align: left; }
  .field label {
    color: #FF512F; }
  .field input, .field i {
    padding: .9em 1.2em;
    border-radius: 5px;
    border: 1px solid white;
    outline: none;
    background-color: transparent;
    color: white; }
  .field i {
    border: none;
    border-radius: 5px;
    background-color: #FF512F; }

.site-main {
  padding: calc(5vh + 1em) 1em; }

.section-popular {
  text-align: center; }

.title {
  text-align: center;
  padding: calc(5vh + 1em) 1em; }

.grid-2 {
  max-width: calc(60vw + 2rem);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  gap: 2em;
  padding: 1em 1em calc(10vh + 1em) 1em; }
  @media (max-width: 1800px) {
    .grid-2 {
      max-width: calc(90vw + 2rem); } }
  @media (max-width: 1800px) {
    .grid-2 {
      max-width: calc(90vw + 2rem); } }
  @media (max-width: 1200px) {
    .grid-2 {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); } }
  @media (max-width: 769px) {
    .grid-2 {
      grid-template-columns: 1fr; } }

.grid-3 {
  max-width: calc(60vw + 2rem);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  gap: 2em;
  padding: 1em 1em calc(10vh + 1em) 1em; }
  @media (max-width: 1800px) {
    .grid-3 {
      max-width: calc(90vw + 2rem); } }
  @media (max-width: 1800px) {
    .grid-3 {
      max-width: calc(90vw + 2rem); } }
  @media (max-width: 1200px) {
    .grid-3 {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); } }
  @media (max-width: 769px) {
    .grid-3 {
      grid-template-columns: 1fr; } }

.section-sale {
  background: linear-gradient(to right, #02020283 100%, #02020283 0), url("../img/sale-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .section-sale .swiper .swiper-wrapper {
    min-height: 100vh; }

.swiper {
  max-width: calc(100vw - 25%);
  width: 100%;
  position: relative; }
  .swiper .swiper-slide {
    align-self: center; }

.section-faq .grid-2 {
  min-height: 60vh;
  gap: 6em; }

.section-testimonials {
  background: linear-gradient(to right, #020202ee 100%, #02020283 0), url(https://images.unsplash.com/photo-1516387938699-a93567ec168e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bm90ZWJvb2t8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }
  .section-testimonials .swiper .swiper-button-prev,
  .section-testimonials .swiper .swiper-button-next {
    padding: 3em;
    border-radius: 100%;
    border: 1px solid white;
    transition: all .5s ease;
    aspect-ratio: 1/1; }
    .section-testimonials .swiper .swiper-button-prev:hover,
    .section-testimonials .swiper .swiper-button-next:hover {
      background-color: white;
      color: black; }
  .section-testimonials .swiper .swiper-wrapper {
    min-height: 45vh; }

.testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white; }
  .testimonial img {
    width: 100%;
    max-width: 150px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    margin: 1.5em 1em; }
  .testimonial blockquote {
    max-width: 70ch; }

.property-card {
  display: grid;
  gap: 1em;
  -webkit-box-shadow: 9px 10px 57px -30px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 9px 10px 57px -30px rgba(0, 0, 0, 0.565);
  box-shadow: 9px 10px 57px -30px rgba(0, 0, 0, 0.598);
  max-width: 950px;
  min-width: 100%;
  border-radius: 25px;
  position: relative; }
  .property-card .property-status {
    padding: .9em 1.5em;
    font-size: 1rem;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0px 0px 14px -7px #f09819;
    max-width: max-content;
    position: absolute;
    top: 5%;
    left: 5%;
    padding: .5em 1em;
    font-size: .9rem; }
    .property-card .property-status.btn-green {
      background-color: #00D363;
      color: #fff; }
      .property-card .property-status.btn-green:hover {
        background-color: white;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #00D363;
        transform: translateY(-7px); }
      .property-card .property-status.btn-green:active {
        transform: translateY(-1px); }
    .property-card .property-status.btn-orange {
      background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      box-shadow: 0px 0px 14px -7px #f09819; }
      .property-card .property-status.btn-orange:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none; }
      .property-card .property-status.btn-orange:active {
        transform: scale(0.95); }
    .property-card .property-status:hover {
      background-position: right center;
      /* change the direction of the change here */
      color: #fff;
      text-decoration: none; }
    .property-card .property-status:active {
      transform: scale(0.95); }
  .property-card img {
    border-radius: 25px 25px 0 0; }

.property-box {
  padding: .9em 1.5em;
  display: grid;
  grid-template-columns: repeat(unset, 1fr);
  place-content: center;
  gap: 1em;
  place-content: start;
  text-align: left; }

.property-title {
  font-weight: 600; }

.property-rate {
  background-color: #00D363;
  color: white;
  padding: .5em 1em;
  border-radius: 33px;
  min-width: max-content;
  max-width: max-content; }

.property-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: .9em 1.5em;
  color: #333333;
  border-top: 1px solid #e8e8e8;
  white-space: nowrap;
  gap: .5em; }

.sale-card {
  max-width: 600px;
  padding: 1.5em;
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
  position: relative; }
  .sale-card .sale-status {
    position: absolute;
    top: -5%;
    left: 6%;
    padding: .5em 1.5em;
    background-color: #FF512F;
    color: white;
    border-radius: 5px; }
  .sale-card p {
    padding: .9em 0;
    font-weight: 600;
    font-size: 1.3rem; }
  .sale-card .property-footer {
    justify-content: flex-start;
    gap: 3em;
    padding: .9em 0; }
  .sale-card .sale-description {
    padding: 1.5em 0;
    line-height: 1.5; }
  .sale-card .sale-buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .9em 0; }

.sales-data p {
  font-size: 250%;
  color: #FF512F; }

.sales-data span {
  font-weight: 400;
  color: #212121a5; }

.section-faq {
  padding: calc(5vh + 1em) 1em; }

.faq-img img {
  border-radius: 15px;
  display: block;
  height: 100%;
  aspect-ratio: 1 / 2;
  object-fit: cover;
  max-height: 450px;
  max-width: 450px; }

.list {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 16px 16px 0;
  background: #fff; }

.list__item {
  list-style: none;
  width: 100%;
  text-align: center;
  overflow: hidden;
  border-bottom: 1px solid #8080803c;
  margin: 2em 0; }

.list__item--click {
  cursor: pointer; }

.list__button {
  display: flex;
  align-items: center;
  gap: .4em;
  width: 100%;
  margin: 0 auto; }

.arrow .list__arrow {
  transform: rotate(90deg); }

.list__arrow {
  transition: transform .3s;
  max-width: 25px; }

.list__show {
  width: 100%;
  margin-right: auto;
  color: black;
  list-style: none;
  text-align: left;
  transition: height .4s;
  height: 0; }

.faq__link {
  color: #000;
  padding: 1.5em; }
